---
import { GODS } from "../data/godsData";
---

<div class="relative overflow-x-hidden">
    <div class="flex relative" id="gods-container">
        {
            GODS.map(({ id, name, slogan, bio, category, combat_type, pantheon, type, abilities, color }) => {
                return (
                    <section
                        class="w-full flex flex-shrink-0 flex-col px-5 py-28 sm:px-24 bg-cover"
                        style={`background-image: url(/img/${id}/${id}.webp)`}
                    >
                        <div>
                            <div class="flex flex-col w-2/5">
                                <h4 class="font-oswald uppercase text-white/75 text-[28px]">{slogan}</h4>
                                <h2 class="font-oswald uppercase text-[100px] leading-[110px]">{name}</h2>
                                <p class="font-montserrat text-xl text-white/90 mt-10 mb-12">{bio}</p>
                                <div class="flex gap-8 items-center text-center uppercase text-xl text-white/75">
                                    <div class="flex flex-col gap-3 justify-between">
                                        <img class="max-w-[75px]" src={`/img/${category}.png`} alt={`${category} icon`} />
                                        <span>{category}</span>
                                    </div>
                                    <div class="flex flex-col gap-3">
                                        <img class="max-w-[75px]" src={`/img/${combat_type}.png`} alt={`${combat_type} icon`} />
                                        <span>{combat_type}</span>
                                    </div>
                                    <div class="flex flex-col gap-3">
                                        <img class="max-w-[75px]" src={`/img/${pantheon}.png`} alt={`${pantheon} icon`} />
                                        <span>{pantheon}</span>
                                    </div>
                                    <div class="flex flex-col gap-3 justify-between">
                                        <img class="max-w-[75px]" src={`/img/${type}.png`} alt={`${type} icon`} />
                                        <span>{type}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between mt-[40px] items-end">
                                <div class="w-2/5">
                                    <h3 class="font-oswald uppercase text-[32px] text-white/75 mb-5 ">Abilities</h3>
                                    <nav>
                                        <div class="flex gap-8 bg-black/50">
                                            {abilities.map(({ id: abilityId, name: abilityName }, index) => {
                                                return (
                                                    <li class={`${index === 0 ? "bg-black" : ""}`}>
                                                        <div
                                                            class={`${index === 0 ? `border-2 border-solid border-b-0` : ""} p-[15px]`}
                                                            style={{ borderColor: `${color}B3` }}
                                                        >
                                                            <img src={`/img/${id}/${abilityId}.webp`} alt={abilityName} />
                                                        </div>
                                                    </li>
                                                );
                                            })}
                                        </div>
                                        <div>
                                            {abilities.map(({ type, description, specs, name: abilityName }, index) => {
                                                return (
                                                    <li
                                                        class={`${index === 0 ? "active" : "hidden"} p-[15px] bg-black/50 border-2 border-solid mt-[-2px]`}
                                                        style={{ borderColor: `${color}B3` }}
                                                    >
                                                        <div class="flex gap-2 items-center">
                                                            <span class="uppercase text-white/60 text-xl">{type}</span>
                                                            <span class="w-1 h-[2px] bg-white/60" />
                                                            <span class="uppercase font-bold text-xl">{abilityName}</span>
                                                        </div>
                                                        <p class="font-montserrat mt-2">{description}</p>
                                                        <p class="mt-5">
                                                            {specs
                                                                ? Object.keys(specs).map((keyName, i) => {
                                                                      return (
                                                                          <div class="font-montserrat mt-2">
                                                                              <span class="font-bold">{keyName}</span>:{" "}
                                                                              <span class="text-white/70">{specs[keyName]}</span>
                                                                          </div>
                                                                      );
                                                                  })
                                                                : ""}
                                                        </p>
                                                    </li>
                                                );
                                            })}
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </section>
                );
            })
        }
    </div>
    <div class="absolute god-selector-container text-center">
        <div class={`flex flex-col gap-8 bg-black/70 px-[24px] pt-[24px] pb-[14px] border-2 border-white`}>
            {
                GODS.map(({ id, name }, index) => {
                    return (
                        <div class="flex flex-col items-center gap-2">
                            <div id="god-selector" class="cursor-pointer">
                                <img class="grayscale border mb-1" src={`/img/${id}/${id}_icon.webp`} alt={`${name} Icon`} />
                                <span class="text-xl">{name}</span>
                            </div>
                        </div>
                    );
                })
            }
        </div>
    </div>
</div>

<style>
    section {
        position: relative;
        z-index: 1;
    }
    section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
    }
    li {
        list-style: none;
    }
    #gods-container {
        transition: transform 0.5s ease;
    }
    .god-selector-container {
        bottom: 20%;
        right: 4.5%;
        z-index: 1;
    }
    .grayscale {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }
    .grayscale:hover {
        filter: grayscale(50%);
    }

    .active {
        filter: grayscale(0);
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const godsContainer = document.querySelector("#gods-container") as HTMLElement;
        const godSelectors = document.querySelectorAll("#god-selector");

        if (godSelectors.length > 0) {
            const firstGod = godSelectors[0].querySelector("img");
            if (firstGod) {
                firstGod.classList.add("active");
            }
        }

        godSelectors.forEach((selector, index) => {
            selector.addEventListener("click", () => {
                if (godsContainer) {
                    godsContainer.style.transform = `translateX(-${index * 100}%)`;

                    godSelectors.forEach((s) => {
                        s.querySelector("img")?.classList.add("grayscale");
                        s.querySelector("img")?.classList.remove("active");
                    });

                    selector.querySelector("img")?.classList.remove("grayscale");
                    selector.querySelector("img")?.classList.add("active");
                }
            });
        });
    });
</script>
